h1 {
  color: rgba(58, 142, 167, 0.333);
  /* border-color: purple;
  border-width: 5px;
  border-style: solid; */
  border: 2px solid rgba(211, 49, 49, 1);
}

h4 {
  background: rgba(211, 49, 49, 1);
}

body {
  background: rgb(207, 122, 79);
  /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVTPn8UKVlCyvUmIDEMGYrI3-_Rgx6OFqynMibrSu5DyKwcD7m5g);
  background-repeat: no-repeat;
  background-size: cover; */
}